:root {
  font-family: Graphik LCG;

  --light-cyan-color: rgb(240, 246, 250);
  --light-orange-color: rgb(242, 84, 48);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main__layout {
  display: flex;
  justify-content: center;
}

.main__header {
  margin-top: 19px;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
}

.main__header__button {
  cursor: pointer;
  margin-right: 27px;
  border: none;
  background-color: transparent;
}

.main__header__button div {
  width: 24px;
  height: 24px;
  content: url('../../public/iconMenu.png');
}

.main__nav {
  width: 1140px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main__notfound {
  margin-top: 300px;
  text-align: center;
}

.main__notfound p {
  margin-bottom: 10px;
}

.main__header__logo {
  width: 268px;
  height: 47px;
  content: url('../../public/logo.png');
}

a {
  text-decoration: none;
}

.main__back__text {
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-left: 40px;
}
