:root {
  font-family: Graphik LCG;

  --light-cyan-color: rgb(240, 246, 250);
  --light-orange-color: rgb(242, 84, 48);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main__layout {
  display: flex;
  justify-content: center;
}

.main__header {
  width: 100vw;
  height: 60px;
  background-color: azure;
}

.main__notfound {
  margin-top: 300px;
  text-align: center;
}

.main__notfound p {
  margin-bottom: 10px;
}
