.main__container {
  padding: 0px 15px;
  margin-bottom: 10px;
  width: 1100px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.parcel__button {
  padding: 5px 8.5px;
  cursor: pointer;
  height: 28px;
  font-family: Graphik LCG;
  border-radius: 4px;
  background: VAR(--light-orange-color);
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
}

.main__container:last-child {
  margin-bottom: 0px;
}

.main__container b {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.main__container span {
  color: rgb(89, 89, 89);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
