.main__container {
  padding: 0px 104px 0px 87px;
  width: 1140px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
  z-index: -100;
}

.main__container li {
  list-style: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.main__container span {
  position: relative;
  top: 3px;
}
